@charset "utf-8";
// // @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
// @use "./layout/mediaQuery" as *;


/* 共通設定
======================================================= */
body, html {
    margin: 0 auto;
}
section {
    box-sizing: border-box;
}
ul, li {
    list-style-type: none;
}
a {
    text-decoration: none;
}